<h1>Ingresar</h1>

{{ loginForm.value | json }}
{{ loginForm.valid }}

<form [formGroup]="loginForm">
    <label for="">Ingrese su correo:</label>
    <br>
    <input type="email" formControlName="email">
    <br>
    <label for="">Ingrese su contraseña:</label>
    <br>
    <input type="password" formControlName="password">
    <br>
    <input type="button" value="Ingresar" [disabled]="!loginForm.valid" (click)="login()" >
    <button mat-fab extended>
        Mi Boton
    </button>
</form>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>