<h2 mat-dialog-title>Prestar Libro</h2>

<form #nuevoForm="ngForm"  (ngSubmit)="onSubmit(nuevoForm)">

    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Selecciona un usuario</mat-label>
            <mat-select name="user" ngModel required>
                <mat-option *ngFor="let user of users" [value]="user">
                    {{user.firstName}} {{user.lastName}} 
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="nuevoForm.invalid">Guardar</button>  
        <button mat-button (click)="cerrarDialog()">Cerrar</button>

    </div>
    

</form>


