<h2 mat-dialog-title>Nuevo Libro</h2>

<form #nuevoForm="ngForm"  (ngSubmit)="onSubmit(nuevoForm)">

    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>ID User</mat-label>
            <input matInput name="userId" ngModel required>
        </mat-form-field>

    </div>

    <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="nuevoForm.invalid">Guardar</button>  
        <button mat-button (click)="cerrarDialog()">Cerrar</button>

    </div>
    

</form>


